.scanEL__navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
 
}
.scanEL__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.ScannelLogo{
 width: 18vw;
}


.scanEL__navbar-sign button {
    color: #fff;
    background: var(--gradient-bar);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    height: 2.5rem;
    width: 5.2rem;

}
.auth_buttons a{
    padding: 5px;
}


.auth_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100wh;
}


.signin_btn:hover{
    background:linear-gradient(90deg, rgba(172, 0, 190, 1) 0%, rgba(255, 108, 34, 0.66) 100%); 
}

@media screen and (max-width: 1050px) {
    .scanEL__navbar-links_container {
        display: flex;
    }

    .scanEL__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .scanEL__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .scanEL__navbar {
        padding: 1rem;
        height:8rem;

    }

    .scanEL__navbar-sign {
        display: flex;
        align-items: center;
        justify-content: center;
    }
 

    .ScannelLogo{
        width: 100%;
        padding-right: 1rem;
    }

    .auth_buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .scanEL__navbar-sign button{
        color: #fff;
        background: var(--gradient-bar);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        height: 2.5rem;
        width: 5.2rem;

    }
    .auth_buttons a{
        padding: 5px;
    }

    


}
