.profile_page {
  /* fallback for old browsers */
  background: #f6d365;
  min-height: 100vh;
  color: white;
    /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  background: radial-gradient(circle at 3% 25%, #002853 0, #040c18 25%) !important;
}
.info_section{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.User_info {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: 6rem;
  width: 30rem;
  border-radius: 20px;
  background: linear-gradient(180deg, #0b3b52 3.72%, #0b121f 141.1%);
}

.user_icon{
width: 25%;
height: 25%;
display: flex;
justify-content: flex-start;
}

.user_icon img{
  width: 100%;
  height: 100%;
}


.loaderContainer {
  background: radial-gradient(circle at 3% 25%, #002853 0, #040c18 25%) !important;
  padding: 10px 100px;
  color: white;
  min-height: 100vh;
  gap: 20px;
}

.Name_field {
  font-size: 100px;
  display: flex;
  justify-content: center;
}




.container_header {
  color: #fff;
}

.AllTools {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Reports Card */

.Reports-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 2rem;
  flex-direction: column;
  justify-items: center; /* Centers items horizontally */
  align-items: center;
}

.reportCard {
  background: linear-gradient(180deg, #0b3b52 3.72%, #0b121f 141.1%);
  width: 20vw;
  margin: 10px;
  border-radius: 5px;
  padding: 2rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.reportCard h2 {
  word-wrap: break-word;
  word-break: break-all;
}

.Scan_result {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.Scan_description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: medium;
  align-items: center;
  text-align: center;
  min-height: 100px;
  margin: 0px 3px 0px 3px;
}

.Scan_description.p1 {
  font-size: medium;
  color: red;
}

.download_button {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
}

/* Media Queries for Responsive Layout */

/* Larger Screens (Desktops) */
@media only screen and (min-width: 1200px) {
  .Reports-main {
    grid-template-columns: repeat(3, 1fr);
  }

  .reportCard {
    width: 18vw;
  }
  .input_div{
    padding: 20px 100px;
   }
}

/* Medium Screens (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .Reports-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .reportCard {
    width: 40vw;
  }
  .input_div{
    padding: 0px;
   }
}

/* Small Screens (Mobile Phones) */
@media only screen and (max-width: 767px) {
  .profile_page {
    padding: 20px;
  }
  .User_info{
    width: 120%;
    
  }
  .User_info h4{
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    padding-left: 10px;
  padding-right: 10px;
  }
  .user_icon{
    width: 50%;
  }

  .Reports-main {
    grid-template-columns: repeat(1, 1fr);
  }
  .User_info{
    flex-direction: column;
  }
  .input-div{
    padding: 0;
  }
  

  .reportCard {
    width: 60vw;
  }

  .Name_field {
    font-size: 50px;
  }
}

/* Adjust the media queries and styles as per your design requirements */
