
.search_container {
    display: flex;
    flex-direction: row;

}

.first-section-left{
  flex: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  }

.first-section-left h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: -0.04em;
    align-content: flex-start;
  }

  .first-section-left h3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1rem;
  }
    
.scannel__ai-image{
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;

}



  .input-div {
    width: 100%;
    padding: 6rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;

  }

  .input-field {
    flex: 1;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    justify-content: center;
    display: flex;
  }
  
  .submit__btn{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    border: none;
    background: var(--gradient-text);
    padding: 0 1rem;
    cursor: pointer;
    outline: none;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
   .submit__btn:hover{
    background:linear-gradient(90deg, rgba(172, 0, 190, 1) 0%, rgba(255, 108, 34, 0.66) 100%);   }


/* Larger Screens (Desktops) */
@media only screen and (min-width: 1200px) {
  .search_container {
      flex-direction: row;
      align-items: center;
  }
  .first-section-left{
    justify-content: center;
    align-items: center;
    gap:2rem;
  }
  .first-section-left h3{
    padding-right: 25rem;
  }
  

  .gpt3__header-content {
      margin: 0 0 3rem;
  }

  
  
  .scannel__ai-image{
    width: 30rem;
    height: 32rem;
  }
  .scannel__ai-image img{
    width: 100%;
  }
  
}

/* Medium Screens (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

  .search_container{
    flex-direction: column;
  }
  .first-section-left{
    align-items: center;

  }
  .first-section-left h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .first-section-left h3 {
      font-size: 16px;
      line-height: 24px;
      padding-right: 20rem;
  }
  .scannel__ai-image img{
    width: 50%;
  }

 


.input-div{
  flex-direction: row;
  padding: 20px;
}
  .input-div input,
  .submit__btn  {
      font-size: 16px;
      line-height: 24px;
  
  }
}

/* Small Screens (Mobile Phones) */
@media only screen and (max-width: 767px) {
  .search_container{
    margin-right: 0;
    display:flex ;
    flex-direction: column;  
  }
  .scannel__ai-image img {
    width: 100%;
  }
  .first-section-left{
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-right: 0;
    
  
  }
  .first-section-left h1 {
      font-size: 36px;
      line-height: 48px;
  }
  .first-section-left h3{
    width: 60vw;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .first-section-left p {
      font-size: 14px;
      line-height: 24px;
  }
  .input-div {
    gap: 10px;
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: column;
  }

  .first-section-left input,
  .submit__btn {
      font-size: 12px;
      line-height: 16px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    
  }
}
