.main_div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

}


.login_container{
  height: 50vh;
  width: 100vh ;
  background:linear-gradient(180deg,#0b3b52 3.72%,#0b121f 141.1%);    
  border-radius:25px;
  padding: 0px 0px 10px 0px;
  color: #fff;  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;  
  margin: 10rem;
  padding: 0px 0px 10px 0px;
  color: #fff;  
  
}


.login-form{
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: medium;
  align-items: center;
  text-align: center;
  min-height: 100px;
  width: 40%;
}

.login-form a{
  text-decoration:none;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
}

.login-form a:hover{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Submit_btn{
  background: var(--gradient-bar);;
  color: white;
  font-family: var(--font-family);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;   
  font-weight: 500;
  border: none;
  outline: none;
  margin-top: 25px;
  margin-bottom: 10px;
}
.Submit_btn:hover{
  color: #fff;
  background:linear-gradient(90deg, rgba(172, 0, 190, 1) 0%, rgba(255, 108, 34, 0.66) 100%);  

}





@media screen and (max-width: 550px) {
  .login_container{
    width: 80%;
    margin: 0;
  
  }
  .logo{
    width: 30vh;
  }
  .login-form{
    width: 90%;
  }
  
}
