.scanel__footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

}
.scanel__footer-heading {
    flex: 1;
    width: 100%;
    display: flex;
    color: rgba(255, 255, 255, 0.75);    
    align-items: center;
    justify-content: center;
}

.scanel__footer-heading h1 {
    justify-content: center;    
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}

.scanel__footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


.scanel__footer-links h4 {
    font-size: 20px;
    line-height: 17px;
    font-family: var(--font-family);
    color: rgba(255, 255, 255, 0.75); 
}

.scanel__footer-links p {
    font-size: 20px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;
    margin: 0.5rem 0;
    cursor: pointer;
}
.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .email-container h4 {
    margin-right: 10px;
  }
  
  .email-link {
    text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
    transition: color 0.5s ease;
    font-size: 20px; 
	position: relative;

	
  }

  .email-link:hover {
	color: #fff;
    font-size: 22px; 
  }

.scanel__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.scanel__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .scanel__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .scanel__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .scanel__footer-links div {
        margin: 1rem 0;
    }

    .scanel__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .scanel__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
